* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

main {
    padding: 30px 25px;
}

ul, ol {
    list-style-type: none;
    padding: 0;

}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.br-12 {
    border-radius: 12px;
}

.bgclr-white {
    background-color: white;
}

/* HEADER STYLE */
.header-main {
    background-color: white;
    padding: 12px 12px 12px 25px;
}

.header-main * {
    display: inline;
    vertical-align: middle;
}

/* MAIN STYLE */

h2 {
    display: inline;
    font-size: 1.2em;
}

li {
    padding: 12px 0;
}

section.buttons-section {
    padding: 12px 12px 10px 50px;
    border-bottom: 2px solid rgb(245, 245, 245);
}

section.list-section {
    padding: 35px 12px 20px 50px;
}

/* BUTTONS STYLE */
button {
    background-color: rgb(80, 156, 255);
    border: 1px solid rgb(80, 156, 255);
    padding: 6px 8px;
    border-radius: 6px;
    color: white;
}

button:disabled {
    background-color: white;
    border: 1px solid gainsboro;
    color: gainsboro;
}

/* TASK TAGS */

span.tag {
    color: white;
    border-radius: 12px;
    font-size: 0.6em;
    padding: 6px 8px;
}

span.tag.editorial {
    background-color: cadetblue;
}

span.tag.q1-goals {
    background-color: brown;
}

span.tag.recruiting {
    background-color: orange;
}

span.tag.sales {
    background-color: rgb(120, 199, 3);
}

span.tag.mobile {
    background-color: palevioletred;
}

span.tag.website {
    background-color: purple;
}

/* LIST ICONS */

li.icon::before {
    margin-right: 8px;
    font-size: 0.8em;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    border-width: 1px;
    border-style: solid;
}

li.icon.checkmark::before {
    content: "\2713";
    color: green;
    border-color: green;
}

li.icon.crossmark::before {
    content: "\2715";
    color: red;
    border-color: red;
}